<?xml version="1.0"?>
<config>
  <modules>
    <Tft_Tftorders>
      <version>1.3.0</version>
    </Tft_Tftorders>
  </modules>
  <global>
        <models>
            <tftorders>
                <class>Tft_Tftorders_Model</class>
            </tftorders>
        </models>
        <helpers>
            <tftorders>
                <class>Tft_Tftorders_Helper</class>
            </tftorders>
        </helpers>
		 <blocks>
            <tftorders>
                <class>Tft_Tftorders_Block</class>
            </tftorders>
        </blocks>
		<resources>
            <tftorders_setup>
                <setup>
                    <module>Tft_Tftorders</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </tftorders_setup>
            <tftorders_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </tftorders_write>
            <tftorders_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </tftorders_read>
        </resources>
     </global>
	 <adminhtml>
    <acl>
        <resources>
            <all>
                <title>Allow Everything</title>
            </all>
            <admin>
                <children>
                    <system>
                        <children>
                            <config>
                                <children>
                                    <tftorders>
                                        <title>Tftorders - All</title>
                                    </tftorders>
                                </children>
                            </config>
                        </children>
                    </system>
                </children>
            </admin>
        </resources>
    </acl>
	<layout>
			<updates>
				<tftorders>
					<file>tft_tftorders.xml</file>
				</tftorders>
			</updates>
		</layout>
	
</adminhtml>
	<default>
    <payment>
      <tftorders>
        <active>1</active>
        <order_status>processing</order_status>
        <title>TFT Payment Method</title>
		<model>tftorders/tftpay</model>
        <message></message>
		<sort_order>1000</sort_order>
      </tftorders>
    </payment>
  </default>
  <frontend>
	<routers>
	<tftorders>
	<use>tftpay</use>
	<args>
	<module>Tft_Tftorders</module>
	<frontname>tftpay</frontname>
	</args>
	</tftorders>
	</routers>
	</frontend>
</config>