<?xml version="1.0" encoding="UTF-8"?><!--
/**
 * created: 2015
 *
 * @category  Ayaline
 * @package   Ayaline_XXXX
 * @author    aYaline
 * @copyright Ayaline - 2015 - http://magento-shop.ayaline.com
 * @license   http://shop.ayaline.com/magento/fr/conditions-generales-de-vente.html
 */
 -->

<config>

    <modules>
        <Sabre_Configuration>
            <version>0.1.21</version>
        </Sabre_Configuration>
    </modules>

    <global>
        <blocks>
            <sabre_configuration>
                <class>Sabre_Configuration_Block</class>
            </sabre_configuration>
            <adminhtml>
                <rewrite>
                    <system_config_form>Sabre_Configuration_Block_Adminhtml_System_Config_Form</system_config_form>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <sabre_configuration>
                <class>Sabre_Configuration_Helper</class>
            </sabre_configuration>
        </helpers>
        <models>
            <sabre_configuration>
                <class>Sabre_Configuration_Model</class>
                <resourceModel>sabre_configuration_resource</resourceModel>
            </sabre_configuration>
            <sabre_configuration_resource>
                <class>Sabre_Configuration_Model_Resource</class>
            </sabre_configuration_resource>

            <admin>
                <rewrite>
                    <variable>Sabre_Configuration_Model_Admin_Variable</variable>
                    <block>Sabre_Configuration_Model_Admin_Block</block>
                </rewrite>
            </admin>

            <reports_resource>
                <rewrite>
                    <quote_collection>Sabre_Configuration_Model_Resource_Reports_Quote_Collection</quote_collection>
                </rewrite>
            </reports_resource>

            <payment>
                <rewrite>
                    <method_checkmo>Sabre_Configuration_Model_Payment_Method_Checkmo</method_checkmo>
                    <method_banktransfer>Sabre_Configuration_Model_Payment_Method_Banktransfer</method_banktransfer>
                </rewrite>
            </payment>

        </models>

        <resources>
            <sabre_configuration_setup>
                <setup>
                    <module>Sabre_Configuration</module>
                </setup>
            </sabre_configuration_setup>
            <sabre_configuration_catalog_setup>
                <setup>
                    <module>Sabre_Configuration</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </sabre_configuration_catalog_setup>
            <sabre_configuration_cms_setup>
                <setup>
                    <module>Sabre_Configuration</module>
                </setup>
            </sabre_configuration_cms_setup>
            <sabre_configuration_billboard_setup>
                <setup>
                    <module>Sabre_Configuration</module>
                </setup>
            </sabre_configuration_billboard_setup>
            <sabre_configuration_sales_setup>
                <setup>
                    <module>Sabre_Configuration</module>
                    <class>Mage_Sales_Model_Resource_Setup</class>
                </setup>
            </sabre_configuration_sales_setup>
            <sabre_configuration_customgrid_setup>
                <setup>
                    <module>Sabre_Configuration</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sabre_configuration_customgrid_setup>
            <sabre_configuration_tax_setup>
                <setup>
                    <module>Sabre_Configuration</module>
                </setup>
            </sabre_configuration_tax_setup>
        </resources>
        <events>
            <sales_quote_item_set_product>
                <observers>
                    <sabre_sales_quote_item_set_product>
                        <class>sabre_configuration/sales_observer</class>
                        <method>setProductAttributesToQuoteItem</method>
                    </sabre_sales_quote_item_set_product>
                </observers>
            </sales_quote_item_set_product>
        </events>
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <color/>
                        <a_model/>
                        <a_article/>
                    </product_attributes>
                </item>
            </quote>
        </sales>
        <fieldsets>
            <sales_convert_quote_item>
                <color>
                    <to_order_item>*</to_order_item>
                </color>
                <a_model>
                    <to_order_item>*</to_order_item>
                </a_model>
                <a_article>
                    <to_order_item>*</to_order_item>
                </a_article>
            </sales_convert_quote_item>
            <sales_convert_order_item>
                <color>
                    <to_quote_item>*</to_quote_item>
                    <to_invoice_item>*</to_invoice_item>
                    <to_shipment_item>*</to_shipment_item>
                    <to_cm_item>*</to_cm_item>
                </color>
                <a_model>
                    <to_quote_item>*</to_quote_item>
                    <to_invoice_item>*</to_invoice_item>
                    <to_shipment_item>*</to_shipment_item>
                    <to_cm_item>*</to_cm_item>
                </a_model>
                <a_article>
                    <to_quote_item>*</to_quote_item>
                    <to_invoice_item>*</to_invoice_item>
                    <to_shipment_item>*</to_shipment_item>
                    <to_cm_item>*</to_cm_item>
                </a_article>
            </sales_convert_order_item>
        </fieldsets>

    </global>

    <product_attributes_images_mapping>
        <skin_base_dir>images/product_map</skin_base_dir>
        <attributes>
            <color>
                <marron>
                    <image_src>colors/marron.jpg</image_src>
                </marron>
                <rouge>
                    <image_src>colors/rouge.jpg</image_src>
                </rouge>
                <orange>
                    <image_src>colors/orange.jpg</image_src>
                </orange>
                <jaune>
                    <image_src>colors/jaune.jpg</image_src>
                </jaune>
                <vert>
                    <image_src>colors/vert.jpg</image_src>
                </vert>
                <bleu>
                    <image_src>colors/bleu.jpg</image_src>
                </bleu>
                <rose>
                    <image_src>colors/rose.jpg</image_src>
                </rose>
                <gris>
                    <image_src>colors/gris.jpg</image_src>
                </gris>
                <bois1>
                    <image_src>colors/bois1.jpg</image_src>
                </bois1>
                <bois2>
                    <image_src>colors/bois2.jpg</image_src>
                </bois2>
                <bois3>
                    <image_src>colors/bois3.jpg</image_src>
                </bois3>
                <bois4>
                    <image_src>colors/bois4.jpg</image_src>
                </bois4>
                <bois5>
                    <image_src>colors/bois5.jpg</image_src>
                </bois5>
                <bois6>
                    <image_src>colors/bois6.jpg</image_src>
                </bois6>
            </color>
            <a_filter_color>
                <marron>
                    <image_src>colors/marron.jpg</image_src>
                </marron>
                <rouge>
                    <image_src>colors/rouge.jpg</image_src>
                </rouge>
                <orange>
                    <image_src>colors/orange.jpg</image_src>
                </orange>
                <jaune>
                    <image_src>colors/jaune.jpg</image_src>
                </jaune>
                <vert>
                    <image_src>colors/vert.jpg</image_src>
                </vert>
                <bleu>
                    <image_src>colors/bleu.jpg</image_src>
                </bleu>
                <rose>
                    <image_src>colors/rose.jpg</image_src>
                </rose>
                <gris>
                    <image_src>colors/gris.jpg</image_src>
                </gris>
                <bois1>
                    <image_src>colors/bois1.jpg</image_src>
                </bois1>
                <bois2>
                    <image_src>colors/bois2.jpg</image_src>
                </bois2>
                <bois3>
                    <image_src>colors/bois3.jpg</image_src>
                </bois3>
                <bois4>
                    <image_src>colors/bois4.jpg</image_src>
                </bois4>
                <bois5>
                    <image_src>colors/bois5.jpg</image_src>
                </bois5>
                <bois6>
                    <image_src>colors/bois6.jpg</image_src>
                </bois6>
            </a_filter_color>

            <a_article>
                <set-4-couverts>
                    <image_src>articles/set-4-couverts.png</image_src>
                </set-4-couverts>
                <couteau-a-dessert>
                    <image_src>articles/couteau-a-dessert.png</image_src>
                </couteau-a-dessert>
                <pelle-a-tarte-coupante>
                    <image_src>articles/pelle-a-tarte-coupante.png</image_src>
                </pelle-a-tarte-coupante>
                <decapsuleur>
                    <image_src>articles/decapsuleur.png</image_src>
                </decapsuleur>
                <cuillere-de-table>
                    <image_src>articles/cuillere-de-table.png</image_src>
                </cuillere-de-table>
                <fourchette-a-gateau>
                    <image_src>articles/fourchette-a-gateau.png</image_src>
                </fourchette-a-gateau>
                <couteau-a-pain>
                    <image_src>articles/couteau-a-pain.png</image_src>
                </couteau-a-pain>
                <couteau-a-tomate>
                    <image_src>articles/couteau-a-tomate.png</image_src>
                </couteau-a-tomate>
                <service-a-servir>
                    <image_src>articles/service-a-servir.png</image_src>
                </service-a-servir>
                <service-salade>
                    <image_src>articles/service-salade.png</image_src>
                </service-salade>
                <couteau-a-beurre>
                    <image_src>articles/couteau-a-beurre.png</image_src>
                </couteau-a-beurre>
                <eplucheur>
                    <image_src>articles/eplucheur.png</image_src>
                </eplucheur>
                <fourchette-de-table>
                    <image_src>articles/fourchette-de-table.png</image_src>
                </fourchette-de-table>
                <couteau-a-fruit>
                    <image_src>articles/couteau-a-fruit.png</image_src>
                </couteau-a-fruit>
                <couteau-de-table>
                    <image_src>articles/couteau-de-table.png</image_src>
                </couteau-de-table>
            </a_article>
        </attributes>
    </product_attributes_images_mapping>

    <frontend>
        <product>
            <collection>
                <attributes>
                    <color />
                    <a_is_set />
                    <a_filter_color />
                    <a_model />
                    <a_article />
                </attributes>
            </collection>
        </product>
        <events>
            <controller_action_predispatch_cms_index_noRoute>
                <observers>
                    <sabre_redirect_old_product_url>
                        <class>sabre_configuration/oldProductUrl_observer</class>
                        <method>redirect</method>
                    </sabre_redirect_old_product_url>
                </observers>
            </controller_action_predispatch_cms_index_noRoute>
        </events>
    </frontend>

</config>
