<?xml version="1.0"?>
<config>
    <modules>
        <Infomodus_Upsap>
            <version>1.7</version>
        </Infomodus_Upsap>
    </modules>
    <frontend>
        <routers>
            <upsap>
                <use>standard</use>
                <args>
                    <module>Infomodus_Upsap</module>
                    <frontName>upsap</frontName>
                </args>
            </upsap>
        </routers>
        <layout>
            <updates>
                <upsap>
                    <file>upsap.xml</file>
                </upsap>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Infomodus_Upsap after="Mage_Adminhtml">Infomodus_Upsap_Adminhtml</Infomodus_Upsap>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <upsap>
                    <file>upsap.xml</file>
                </upsap>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <upsap>
                <class>Infomodus_Upsap_Model</class>
                <resourceModel>upsap_mysql4</resourceModel>
            </upsap>
            <upsap_mysql4>
                <class>Infomodus_Upsap_Model_Mysql4</class>
                <entities>
                    <accesspoint>
                        <table>upsapaccesspoint</table>
                    </accesspoint>
                    <method>
                        <table>upsapshippingmethod</table>
                    </method>
                </entities>
            </upsap_mysql4>
        </models>
        <resources>
            <upsap_setup>
                <setup>
                    <module>Infomodus_Upsap</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </upsap_setup>
            <upsap_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </upsap_write>
            <upsap_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </upsap_read>
        </resources>
        <blocks>
            <upsap>
                <class>Infomodus_Upsap_Block</class>
            </upsap>
        </blocks>
        <helpers>
            <upsap>
                <class>Infomodus_Upsap_Helper</class>
            </upsap>
        </helpers>
        <events>
            <sales_order_place_after>
                <observers>
                    <ups_order_place_after>
                        <class>upsap/observer</class>
                        <method>frontorderaccesspoint</method>
                    </ups_order_place_after>
                </observers>
            </sales_order_place_after>
            <checkout_type_onepage_save_order>
                <observers>
                    <ups_order_save_before>
                        <class>upsap/observer</class>
                        <method>frontordersavebefore</method>
                    </ups_order_save_before>
                </observers>
            </checkout_type_onepage_save_order>
        </events>
    </global>
    <default>
        <carriers>
            <upsap>
                <active>0</active>
                <model>upsap/carrier</model>
                <title>UPS Access Point</title>
                <sort_order>1</sort_order>
                <sallowspecific>0</sallowspecific>
            </upsap>
        </carriers>
    </default>
</config>